src/main/resources/static/users.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ru/nikitin/userservice/codemark"
           targetNamespace="http://ru/nikitin/userservice/codemark" elementFormDefault="qualified">


    <xs:element name="getUsersRequest">
    </xs:element>

    <xs:element name="getUsersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="users" maxOccurs="unbounded" minOccurs="0" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:element name="getUserByLoginRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="login" type="tns:nameLogin"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getUserByLoginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:user"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:complexType name="user">
        <xs:sequence>
            <xs:element name="login" type="tns:nameLogin"/>
            <xs:element name="name" type="tns:nameLogin"/>
            <xs:element name="password" type="tns:password"/>
            <xs:element name="roles" maxOccurs="unbounded" minOccurs="0" type="tns:role"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="nameLogin">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="role">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>


    <xs:simpleType name="password">
        <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Z][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>